<section>
    <img src="/<%=travelbuddy.image%>" alt="TravelBuddy Profile Image">

    <form>
        <button><img src="images/roodHartje.png" alt=""></button>
    </form>
    
    <ul>
        <li>Naam: <%=travelbuddy.naam%></li>
        <li>Geslacht: <%=travelbuddy.geslacht%></li>
        <li>Continent: <%=travelbuddy.continent%></li>
        <li>land:  <%=travelbuddy.land%></li>
    </ul>
</section>