<section>
    <form action="/favorietenTravelBuddyMatches" method="post">
        <% if(travelbuddy.like==true){ %>

        <button name="like" type="submit" value="<%= travelbuddy._id %>">
            <img src="/images/roodHartje.png" id="emptyHeart" alt="likeButton" />
        </button>

        <% } else{ %>

        <button name="like" type="submit" value="<%= travelbuddy._id %>">
            <img src="/images/hartje.png" id="emptyHeart" alt="likeButton" />
        </button>

        <%} %>
    </form>

    <ul>
        <li>Naam: <%=travelbuddy.naam%></li>
        <li>Geslacht: <%=travelbuddy.geslacht%></li>
        <li>Continent: <%=travelbuddy.continent%></li>
        <li>land: <%=travelbuddy.land%></li>
    </ul>
</section>
