<section>
    <img src="/<%=travelbuddy.image%>" alt="TravelBuddy Profile Image">
    <p>Naam: <%=travelbuddy.naam%></p>
    <p>Geslacht: <%=travelbuddy.geslacht%></p>
    <p>Continent: <%=travelbuddy.continent%></p>
    <p>land:  <%=travelbuddy.land%></p>
</section>